[workspace]
members = [
    "ic-agent",
    "ic-asset/",
    "ic-identity-hsm",
    "ic-types",
    "ic-utils",
    "icx",
    "icx-proxy",
    "ref-tests",
    "zzz-release",
]

[patch.crates-io]
ic-types = { path = "./ic-types", features = [ "serde" ] }
