[workspace]
members = [
    "ic-agent",
    "icx-cert",
    "ic-identity-hsm",
    "ic-utils",
    "ic-certification",
    "icx",
    "ref-tests",
]

[workspace.package]
version = "0.23.2"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
repository = "https://github.com/dfinity/agent-rs"
rust-version = "1.65.0"
license = "Apache-2.0"

[workspace.dependencies]
candid = "0.8.0"
hex = "0.4.3"
ring = "0.16.20"
serde = "1.0.154"
serde_bytes = "0.11.9"
serde_cbor = "0.11.2"
serde_json = "1.0.94"
sha2 = "0.10.6"
thiserror = "1.0.39"
