[workspace]
members = [
    "ic-agent",
    "icx-cert",
    "ic-identity-hsm",
    "ic-utils",
    "ic-certification",
    "icx",
    "ref-tests",
]

[workspace.package]
version = "0.24.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
repository = "https://github.com/dfinity/agent-rs"
rust-version = "1.65.0"
license = "Apache-2.0"

[workspace.dependencies]
ic-agent = { path = "ic-agent", version = "0.24" }
ic-utils = { path = "ic-utils", version = "0.24" }
ic-certification = { path = "ic-certification", version = "0.24" }

candid = { version = "0.9.0-beta.3", git = "https://github.com/dfinity/candid.git", branch = "arc" }
hex = "0.4.3"
ring = "0.16.20"
serde = "1.0.162"
serde_bytes = "0.11.9"
serde_cbor = "0.11.2"
serde_json = "1.0.96"
sha2 = "0.10.6"
thiserror = "1.0.40"
time = "0.3"
tokio = "1.28.0"
