[toolchain]
# MSRV
# Avoid updating this field unless we use new Rust features
# Sync rust-version in workspace Cargo.toml
channel = "1.74.0"
components = ["rustfmt", "clippy"]
targets = ["wasm32-unknown-unknown"]
