[package]
name = "ic-identity-hsm"
version = "0.3.5"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
description = "Identity implementation for HSM for the ic-agent package."
homepage = "https://docs.rs/ic-identity-hsm"
documentation = "https://docs.rs/ic-identity-hsm"
edition = "2018"
license = "Apache-2.0"
readme = "README.md"
categories = ["api-bindings", "data-structures", "no-std"]
keywords = ["internet-computer", "agent", "utility", "icp", "dfinity"]
include = ["src", "Cargo.toml", "../LICENSE", "README.md"]

[dependencies]
hex = "0.4.2"
ic-agent = { path = "../ic-agent", version = "0.8", features = [ "pem" ] }
num-bigint = "0.4.0"
openssl = "0.10.30"
pkcs11 = "0.5.0"
simple_asn1 = "0.5.4"
thiserror = "1.0.20"
