[package]
name = "icx"
version = "0.1.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candid = "0.6.17"
clap = "3.0.0-beta.1"
garcon = { git = "https://github.com/hansl/rs-delay", features = ["async"] }
hex = "0.4.2"
humantime = "2.0.1"
ic-agent = { path = "../ic-agent", version = "0.2" }
ic-types = { path = "../ic-types", version = "0.1" }
pem = "0.8.1"
ring = "0.16.11"
serde = "1.0.115"
serde_json = "1.0.57"
tokio = { version = "1.2.0", features = ["full"] }
thiserror = "1.0.24"
