[package]
name = "icx"
version = "0.1.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candid = "0.6.15"
clap = "3.0.0-beta.1"
delay = "0.3.0"
hex = "0.4.2"
humantime = "2.0.1"
ic-agent = { path = "../ic-agent" }
ic-types = { path = "../ic-types" }
pem = "0.8.1"
ring = "0.16.11"
tokio = { version = "0.2.22", features = ["full"] }
serde = "1.0.115"
serde_json = "1.0.57"
