[package]
name = "icx"
version = "0.19.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2021"
description = "CLI tool to call canisters on the Internet Computer."
homepage = "https://docs.rs/icx"
documentation = "https://docs.rs/icx"
repository = "https://github.com/dfinity/agent-rs"
license = "Apache-2.0"
readme = "README.md"
categories = ["command-line-interface", "web-programming::http-client"]
keywords = ["internet-computer", "agent", "icp", "dfinity", "call"]
include = ["src", "Cargo.toml", "../LICENSE", "README.md"]
rust-version = "1.58.1"

[[bin]]
name = "icx"
path = "src/main.rs"

[dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
candid = "0.7.15"
clap = { version = "3.0.14", features = ["derive", "cargo"] }
garcon = { version = "0.2.3", features = ["async"] }
hex = "0.4.2"
humantime = "2.0.1"
ic-agent = { path = "../ic-agent", version = "0.19" }
ic-utils = { path = "../ic-utils", version = "0.19" }
pem = "1.0"
ring = "0.16.11"
serde = "1.0.115"
serde_json = "1.0.57"
tokio = { version = "1.8.1", features = ["full"] }
thiserror = "1.0.24"
