[package]
name = "ic-utils"
version = "0.1.0"
authors = ["Hans Larsen <hans@larsen.online>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.40"
candid = "0.5.3"
delay = "0.2.0"
ic-agent = { path = "../ic-agent", version = "0.1" }
ic-types = { path = "../ic-types", version = "0.1" }
serde = "1.0.115"
thiserror = "1.0.20"

[dev-dependencies]
tokio = { version = "0.2.22", features = ["macros"] }
