[package]
name = "ic-utils"
version = "0.6.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"
description = "Collection of utilities for Rust, on top of ic-agent, to communicate with the Internet Computer, following the Public Specification."
homepage = "https://docs.rs/ic-utils"
documentation = "https://docs.rs/ic-utils"
license = "Apache-2.0"
readme = "README.md"
categories = ["api-bindings", "data-structures", "no-std"]
keywords = ["internet-computer", "agent", "utility", "icp", "dfinity"]
include = ["src", "Cargo.toml", "../LICENSE", "README.md"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.40"
candid = "0.7.4"
garcon = { version = "0.2", features = ["async"] }
ic-agent = { path = "../ic-agent", version = "0.8" }
serde = "1.0.115"
serde_bytes = "0.11"
strum = "0.21"
strum_macros = "0.21"
thiserror = "1.0.20"

[dev-dependencies]
ring = "0.16.11"
tokio = { version = "1.8.1", features = ["full"] }

[features]
raw = []
