[package]
name = "ic-agent"
version = "0.1.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"

[dependencies]
async-trait = "0.1.35"
base32 = "0.4.0"
base64 = "0.12.3"
byteorder = "1.3.2"
candid = "0.5.1"
delay = "0.2.0"
hex = "0.4.0"
ic-types = { path = "../ic-types", version = "0.1", features = [ "serde" ] }
leb128 = "0.2.4"
openssl = "0.10.24"
rand = "0.7.2"
reqwest = { version = "0.10.4", features = [ "blocking", "json", "rustls-tls" ] }
rustls = "0.18.0"
ring = { version = "0.16.11", features = ["std"] }
serde = { version = "1.0.101", features = ["derive"] }
serde_bytes = "0.11.2"
serde_cbor = "0.11.1"
thiserror = "1.0.20"
url = "2.1.0"
webpki-roots = "0.20.0"

[dependencies.pem]
version = "0.8.1"
optional = true

[dev-dependencies]
mockito = "0.27.0"
proptest = "0.9.5"
tokio = "0.2.22"

[features]
default = ["pem"]

ic_ref_tests = ['default'] # Used to separate integration tests for ic-ref which need a server running.
