[package]
name = "ic-agent"
version = "0.6.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"
description = "Agent library to communicate with the Internet Computer, following the Public Specification."
homepage = "https://docs.rs/ic-agent"
documentation = "https://docs.rs/ic-agent"
license = "Apache-2.0"
readme = "README.md"
categories = ["api-bindings", "data-structures", "no-std"]
keywords = ["internet-computer", "agent", "icp", "dfinity"]
include = ["src", "Cargo.toml", "../LICENSE", "README.md"]

[dependencies]
async-trait = "0.1.35"
base32 = "0.4.0"
base64 = "0.12.3"
byteorder = "1.3.2"
candid = "0.7.1"
ed25519-dalek = "1.0.1"
garcon = { version = "0.2", features = ["async"] }
hex = "0.4.0"
http = "0.2.3"
ic-types = "0.2.0"
leb128 = "0.2.4"
mime = "0.3.16"
openssl = "0.10.32"
pkcs8 = { version = "0.7.0", features = ["pem"], optional = true }
rand = "0.7.2"
rustls = "0.19.0"
serde = { version = "1.0.101", features = ["derive"] }
serde_bytes = "0.11.2"
serde_cbor = "0.11.1"
simple_asn1 = "0.5.4"
thiserror = "1.0.20"
url = "2.1.0"
webpki-roots = "0.20.0"

[dependencies.reqwest]
version = "0.11"
features = [ "blocking", "json", "rustls-tls" ]
optional = true

[dev-dependencies]
candid = "0.7.1"
mockito = "0.27.0"
proptest = "0.9.5"
tokio = { version = "1.8.1", features = ["full"] }

[features]
default = ["pem", "reqwest"]
pem = ["pkcs8"]
ic_ref_tests = ["default"] # Used to separate integration tests for ic-ref which need a server running.
