[package]
name = "ic-agent"
version = "0.1.0"
authors = ["DFINITY Stiftung <sdk@dfinity.org>"]
edition = "2018"
description = "Agent library to communicate with the Internet Computer, following the Public Specification."
homepage = "https://docs.rs/ic-agent"
documentation = "https://docs.rs/ic-agent"
license = "Apache-2.0"
readme = "README.md"
categories = ["api-bindings", "data-structures", "no-std"]
keywords = ["internet-computer", "agent", "icp", "dfinity"]
include = ["src", "Cargo.toml", "../LICENSE", "README.md"]

[dependencies]
async-trait = "0.1.35"
base32 = "0.4.0"
base64 = "0.12.3"
byteorder = "1.3.2"
delay = "0.3.1"
hex = "0.4.0"
ic-types = { path = "../ic-types", version = "0.1", features = [ "serde" ] }
leb128 = "0.2.4"
mime = "0.3.16"
num-bigint = "0.3.1"
openssl = "0.10.32"
rand = "0.7.2"
reqwest = { version = "0.10.4", features = [ "blocking", "json", "rustls-tls" ] }
rustls = "0.18.0"
ring = { version = "0.16.11", features = ["std"] }
serde = { version = "1.0.101", features = ["derive"] }
serde_bytes = "0.11.2"
serde_cbor = "0.11.1"
simple_asn1 = "0.5.0"
thiserror = "1.0.20"
url = "2.1.0"
webpki-roots = "0.20.0"

[dependencies.pem]
version = "0.8.1"
optional = true

[dev-dependencies]
candid = "0.6.17"
mockito = "0.27.0"
proptest = "0.9.5"
tokio = "0.2.22"

[features]
default = ["pem"]

ic_ref_tests = ['default'] # Used to separate integration tests for ic-ref which need a server running.
