name: test-e2e
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, ubuntu-22.04 ]
        dfx: [ '0.8.4', '0.9.2', '0.10.1', '0.11.1' ]

    steps:
      - uses: actions/checkout@v4
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-1

      - name: Provision Darwin
        if: contains(matrix.os, 'macos')
        run: bash .github/workflows/provision-darwin.sh
      - name: Provision Linux
        if: contains(matrix.os, 'ubuntu')
        run: bash .github/workflows/provision-linux.sh
      - name: Install DFX
        uses: dfinity/setup-dfx@main
        with:
          dfx-version: ${{ matrix.dfx }}
      - name: Setup for dfx version differences
        run: |
          if [[ "${{ matrix.dfx }}" == "0.8.4" ]]; then
              echo "DFX_NO_WALLET=--no-wallet" >> "$GITHUB_ENV"
          fi

      # - name: 'Run tests'
      #   run: bats e2e/bash/icx.bash 

  aggregate:
    name: e2e:required
    if: ${{ always() }}
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - name: check e2e test result
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
