name: ic-ref

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  aggregate: # todo remove
    name: ic-ref:required
    runs-on: ubuntu-latest
    steps:
      - name: Check ic-ref result
        run: exit 1
