name: ic-ref

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [ linux-0-9 ]
        include:
          - build: linux-0-9
            ghc: '8.8.3'
            spec: 'release-0.9'
            os: ubuntu-latest
            rust: stable

    steps:
      - uses: actions/checkout@v2
        with:
          path: main
      - uses: actions/checkout@v2
        with:
          repository: 'dfinity-lab/ic-ref'
          # Personal Read-only Access Token created by hans.larsen@dfinity.org
          token: ${{ secrets.IC_REF_TOKEN }}
          path: ic-ref
          ref: ${{ matrix.spec }}

      - name: Cache ~/.cabal/store
        uses: actions/cache@v1
        with:
          path: ~/.cabal/store
          key: ${{ runner.os }}-${{ matrix.ghc }}-cabal-store
      - uses: actions/setup-haskell@v1.1
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Cache Cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ matrix.build }}-cargo-registry-${{ hashFiles('main/**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.build }}-cargo-registry-
      - name: Cache Cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ matrix.build }}-cargo-index-${{ hashFiles('main/**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.build }}-cargo-index-
      - name: Cache Cargo build
        uses: actions/cache@v1
        with:
          path: main/target
          key: ${{ matrix.build }}-target-${{ hashFiles('main/**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.build }}-target-
      - name: Install Rust
        run: |
          rustup update ${{ matrix.rust }} --no-self-update
          rustup default ${{ matrix.rust }}
          rustup target add wasm32-unknown-unknown

      - name: Build ic-ref
        run: |
          ls -l /opt/ghc/
          export PATH=/opt/ghc/bin:$PATH
          cabal --version
          ghc --version
          mkdir -p $HOME/bin
          cd ic-ref/impl
          cabal update
          cabal install -w ghc-${{ matrix.ghc }} --overwrite-policy=always  --installdir=$HOME/bin

      - name: Build universal-canister
        run: |
          cd ic-ref/universal-canister
          cargo build --target wasm32-unknown-unknown --release
          cp target/wasm32-unknown-unknown/release/universal_canister.wasm $HOME/canister.wasm

      - name: Run Tests
        run: |
          set -ex
          $HOME/bin/ic-ref --pick-port --write-port-to $HOME/ic_ref_port &
          sleep 1
          export IC_REF_PORT=$(cat $HOME/ic_ref_port)
          export IC_UNIVERSAL_CANISTER_PATH=$HOME/canister.wasm
          cd main/ref-tests
          cargo test --all-features -- --ignored
          killall ic-ref
        env:
          RUST_BACKTRACE: 1

      - name: Run Doc Tests
        run: |
          set -ex
          $HOME/bin/ic-ref --pick-port --write-port-to $HOME/ic_ref_port &
          sleep 1
          export IC_REF_PORT=$(cat $HOME/ic_ref_port)
          cd main
          cargo test --all-features --doc
          killall ic-ref
