name: Lint

on: [pull_request]

jobs:
  test:
    name: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: ["1.65.0"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        run: |
          rustup update ${{ matrix.rust }} --no-self-update
          rustup component add clippy
          rustup default ${{ matrix.rust }}
          rustup target add wasm32-unknown-unknown
      - name: Run Lint
        run: cargo clippy --verbose --tests --benches -- -D clippy::all
        env:
          RUST_BACKTRACE: 1
      - name: Run Lint (WASM)
        run: CARGO_TARGET_DIR=target/wasm cargo clippy --target wasm32-unknown-unknown -p ic-agent --features wasm-bindgen -p ic-utils --verbose -- -D clippy::all
  aggregate:
    name: lint:required
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: test
    steps:
      - name: Check lint result
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
