on: [push, pull_request]
name: Publish Cargo docs
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Cache Cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ matrix.build }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ matrix.build }}-cargo-registry-
    - name: Cache Cargo index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ matrix.build }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ matrix.build }}-cargo-index-
    - name: Cache Cargo build
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ matrix.build }}-target-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ matrix.build }}-target-

    - name: Install Rust
      run: |
        rustup update ${{ matrix.rust }} --no-self-update
        rustup default ${{ matrix.rust }}
    - name: Build Docs
      run: |
        cargo doc --no-deps

    - name: Extract branch name
      id: extract_branch
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

    - if: ${{ steps.extract_branch.outputs.branch == 'master' }}
      name: Publish (master)
      uses: netlify/actions/cli@6c34c3fcafc69ac2e1d6dbf226560329c6dfc51b
      with:
        args: deploy --dir=target/doc/ --prod
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

    - if: ${{ steps.extract_branch.outputs.branch != 'master' }}
      name: Publish (branch)
      uses: netlify/actions/cli@6c34c3fcafc69ac2e1d6dbf226560329c6dfc51b
      with:
        args: deploy --dir=target/doc/
      env:
        DEBUG=*
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
