name: Publish to crates.io
on:
  workflow_dispatch:
jobs:
  publish-crates:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - run: |
          cargo publish -p ic-transport-types
          cargo publish -p ic-agent
          cargo publish -p ic-identity-hsm
          cargo publish -p ic-utils
          cargo publish -p icx
          cargo publish -p icx-cert
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
