name: Check shell scripts
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - ".github/**"
  push:
    branches:
      - main

jobs:
  check_macos:
    # ubuntu-latest has shellcheck 0.4.6, while macos-12 has 0.7.1
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - name: Install shellcheck
        run: |
          mkdir $HOME/bin
          cd $HOME/bin
          curl -L https://github.com/koalaman/shellcheck/releases/download/v0.7.1/shellcheck-v0.7.1.darwin.x86_64.tar.xz \
            | xz -d | tar x

      - name: Check scripts
        run: $HOME/bin/shellcheck-v0.7.1/shellcheck scripts/*.sh
